/**
 * Uses SASS compiled to global stylesheet, yote.css
 * Any styles specific to the Flow module that you ALSO want globally
 * available should live here.
 */

@import "./admin/flowAdminStyles";

.flow-card-container {
    padding: 0px 25px 25px 25px;
    margin: 10px;
    border: 1px solid black;
}